{{ define "auth" }}
    <div class="form">
        <input class="form-input" type="text" name="alias" placeholder="alias">
        <input class="form-input" type="password" name="password" placeholder="password">
        <input class="form-input collapsed" type="password" name="password-repeat" placeholder="password repeat">
        <div class="form-footer">
            <span class="form-toggler">Register</span>
            <button class="form-button fas fa-sign-in-alt" type="button" name="enter">Enter</button>
        </div>
    </div>
{{ end }}
